@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@mixin scroller-style {
  &::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: #F4F4F4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bababa;
    outline: none;
  }
}

body {
  margin: 0 !important;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
  @include scroller-style;

  @media (min-width:1080px) and (max-width:1400px) {
    font-size: 13px;
  }

  @media (max-width:600px) {
    overflow: hidden;
  }
}

body * {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



main {
  padding: 30px 60px;
  box-sizing: border-box;
  width: 100%;

  @media (max-width:600px) {
    padding: 30px 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px 0 20px;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      padding: 0 5px 0 10px;
      font-size: 14px;
      color: #10489b;
      position: relative;
      font-weight: 400;
      letter-spacing: 1px;

      &:first-child {
        padding-left: 0;
      }

      &::after {
        content: ">";
        display: inline-block;
        margin-left: 10px;
        color: #afafaf;
        font-family: Arial, Helvetica, sans-serif;
      }

      &:last-child {
        color: #afafaf;

        &::after {
          display: none;
        }
      }
    }
  }
}

.search {
  padding-bottom: 20px;
  position: relative;

  .searchToggle {
    display: none;
    padding: 20px 0;

    @media (max-width: 800px) {
      display: block;
    }

    button {
      appearance: none;
      width: 100%;
      height: 40px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      cursor: pointer;
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 60px 40px;
      transform: translateY(150%);
      opacity: 0;
      visibility: hidden;
      transition: transform 600ms cubic-bezier(0.535, 0, 0, 1), visibility 600ms linear;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &.active {
      transform: none;
      opacity: 1;
      visibility: visible;
    }

    .closeSearch {
      display: none;

      @media (max-width: 800px) {
        display: block;
        position: absolute;
        z-index: 10;
        top: 25px;
        right: 42px;
        cursor: pointer;
      }
    }

    .grouped {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    input,
    select {
      width: 100%;
      box-sizing: border-box;
      height: 45px;
      border-radius: 4px;
      appearance: none;
      border: 1px solid #e6e6e6;
      padding: 0 15px;

      @media (max-width:390px) {
        height: 35px
      }

      &:focus {
        appearance: none;
        box-shadow: none;
        outline: none;
      }
    }

    input[type=submit] {
      background-color: #10489b;
      border-color: #10489b;
      color: #fff;
    }

    .hideinMobile {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.table {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
  min-height: calc(100vh - 245px);
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;

  .list-group {
    @media (max-width:600px) {
      height: 60vh;
      overflow-y: auto;
    }

  }

  .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 20px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    &:first-child {
      @media (max-width: 1200px) {
        display: none;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    .column {
      @media (max-width: 1200px) {
        display: none;
      }

      &.first {
        @media (max-width: 1200px) {
          display: block;
        }

        .top {
          position: relative;

          @media (max-width: 1200px) {
            padding: 10px 0;

            &::after {
              content: "";
              background-image: url("../public/arrow.png");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              position: absolute;
              right: 0px;
              width: 14px;
              height: 14px;
              transform: rotate(0deg);
              transition: .2s transform ease-in-out;

            }
          }
        }

        .expand {
          display: none;
          border-top: 1px solid #e6e6e6;



          ul {
            li {
              display: inline-block;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid #e6e6e6;
              padding: 15px 0;
              width: 100%;

              span {
                width: 100%;
                padding-bottom: 10px;
                display: inline-block;

                &:nth-child(1) {
                  font-size: 13px;
                  font-weight: 600;
                }
              }
            }
          }
        }

        &.active {
          @media (max-width: 600px) {
            .expand {
              display: block;
              margin-top: 20px;
            }

            .top {
              &::after {
                transform: rotate(180deg);
                transition: .2s transform ease-in-out;
              }
            }
          }

        }
      }

      a {
        cursor: pointer;

        svg {
          transform: rotate(0deg);
          transition: .2s transform ease-in-out;
        }
      }

      a.active {
        svg {
          transform: rotate(180deg);
          transition: .2s transform ease-in-out;
        }
      }

    }
  }

  .pagination {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 6px 12px;
        cursor: pointer;
        color: #afafaf;

        &.page-item.active,
        &.page-item:hover {
          color: #1a1a1a;
          background-color: #f0f0f0;
          font-weight: 600;
        }

        a.arrow {
          &::before {
            position: relative;
            content: '';
            display: inline-block;
            width: 0.4em;
            height: 0.4em;
            border-right: 0.12em solid rgba(0, 0, 0, 0.87);
            border-top: 0.12em solid rgba(0, 0, 0, 0.87);
          }

          &.left {
            &::before {
              transform: rotate(-135deg) translatex(20%);
            }
          }

          &.right {
            &::before {
              transform: rotate(45deg) translatex(-20%);
            }
          }
        }
      }
    }
  }
}

.column {
  display: flex;

  a {
    margin-top: 3px;



    &.thead {
      font-weight: 500;
      position: relative;

      &::before {
        background-color: #ccc;
        padding: 10px;
        position: absolute;
        content: "";
        right: -30px;
        top: -3px;
        border-radius: 30px;
      }

      &::after {
        content: "";
        background-image: url("../public/arrows.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: -25px;
        width: 10px;
        height: 14px;
        transform: rotate(180deg);
        transition: 0.6s transform ease-in-out;
      }

      &.active {
        &::after {
          transform: rotate(0deg);
          transition: 0.6s transform ease-in-out;
        }

        &::before {
          background-color: #79aefd;
        }
      }
    }
  }
}

.nodata {
  display: flex;
  padding: 20px;
}

.loader-container {
  height: 30px;
  width: 300px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 180px;
  margin-bottom: 20px;
  position: relative;

  &.hide {
    display: none;
  }

  .dot {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52.5%;
    left: 150px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5rem;

    &:nth-child(1) {
      left: 80px;
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    &:nth-child(2) {
      left: 115px;
      animation: waveUp 2s, largeExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.15s;
    }

    &:nth-child(3) {
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.3s;
    }

    &:nth-child(4) {
      left: 185px;
      animation: waveUp 2s, largeExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.45s;
    }

    &:nth-child(5) {
      left: 220px;
      animation: waveUp 2s, smallExtend 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.6s;
    }

    @keyframes waveUp {

      0%,
      15% {
        top: 50%;
      }

      45%,
      65% {
        top: 42.5%;
      }

      85%,
      100% {
        top: 50%;
      }
    }

    @keyframes smallExtend {

      0%,
      8% {
        background-color: #eee;
        height: 20px;
      }

      14%,
      34% {
        background-color: #ccc;
        height: 47.5px;
      }

      46%,
      100% {
        background-color: #eee;
        height: 20px;
      }
    }

    @keyframes largeExtend {

      0%,
      8% {
        background-color: #eee;
        height: 20px;
      }

      14%,
      34% {
        background-color: #ccc;
        height: 82.5px;
      }

      46%,
      100% {
        background-color: #eee;
        height: 20px;
      }
    }
  }
}

.noResult {
  padding: 30px;
}

.me {
  background-image: url("../public/readme/first.PNG");
  background-image: url("../public/readme/second.PNG");
}